<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <customSection>	  	
		<interfCulture culture="ResourcesEn.resx"/>
		<observFolders>
			<folder name="C:\ObsFold1"/>
			<folder name="C:\ObsFold2"/>
			<folder name="C:\ObsFold3"/>
		</observFolders>
		<rulesForFiles>
			<rule nameFile="*.*" destination="C:\NewFolder" addNumber="true" addDate="false"/>
			<rule nameFile="1.*" destination="C:\OldFolder" addNumber="false" addDate="false"/>
		</rulesForFiles>
    </customSection>
</configuration>