<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	
	<configSection>
		<section name="customSection" type="FileWatcher.UserConfigSection"/>
	</configSection>

  <customSection>	  	
		<interfCulture culture="En"/>
		<observFolders>
			<folder name="C:\Folder1"/>
			<folder name="C:\Folder2"/>
			<folder name="C:\Folder3"/>
		</observFolders>
		<rulesForFiles>
			<rule nameFile="*.*" destination="C:\NewFolder1" addNumber="true" addDate="false"/>
			<rule nameFile="1?.*" destination="C:\NewFolder2" addNumber="false" addDate="false"/>
		</rulesForFiles>
    </customSection>
	
</configuration>