<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="customSection" type="FileWatcher.UserConfigSection, FileWatcher"/>
  </configSections>

  <customSection culture="en-EN">
    
    <observFolders>
			<add name="Folder1"/>
			<add name="Folder2"/>
			<add name="Folder3"/>
		</observFolders>
    
    <rulesForFiles>
			<add nameFile="[0-9]{3}\.[a-z]{3}" destination="NewFolder1" addNumber="true" addDate="false"/>
			<add nameFile="[a-v]{4}\.[t|x]{3}" destination="NewFolder2" addNumber="false" addDate="true"/>
		</rulesForFiles>
    
  </customSection>
	
</configuration>